

versions/21/*
versions/8/*
versions/11/*
versions/17/*
versions/25/*
.github/scripts/generate_readme.py
templates/java-version-row.md.j2
*.json
!versions/8/java.security
!versions/11/java.security
!versions/17/java.security
!versions/21/java.security
!versions/25/java.security
!versions/8/migrate.js
!versions/11/migrate.js

*.json