target "_java{{ version }}-common" {
  inherits = ["_common"]
  context  = "./versions/{{ version }}"
  dockerfile = "Dockerfile"
}

target "java{{ version }}-jre_distroless" {
  inherits = ["_java{{ version }}-common"]
  target   = "jre_distroless"
  cache-from = ["type=gha,scope=java-{{version}}-jre_distroless"]
  cache-to   = ["type=gha,mode=max,scope=java-{{version}}-jre_distroless"]

  tags = [
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ version }}-jre_distroless",
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ full_ver | replace('+', '_') }}-jre_distroless"
  ]
}

target "java{{ version }}-jre_standard" {
  inherits = ["_java{{ version }}-common"]
  target   = "jre_standard"
  cache-from = ["type=gha,scope=java-{{version}}-jre_standard"]
  cache-to   = ["type=gha,mode=max,scope=java-{{version}}-jre_standard"]

  tags = [
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ version }}-jre_standard",
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ full_ver | replace('+', '_') }}-jre_standard"
  ]
}

target "java{{ version }}-jdk_standard" {
  inherits = ["_java{{ version }}-common"]
  target   = "jdk_standard"
  cache-from = ["type=gha,scope=java-{{version}}-jdk_standard"]
  cache-to   = ["type=gha,mode=max,scope=java-{{version}}-jdk_standard"]

  tags = [
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ version }}-jdk_standard",
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ full_ver | replace('+', '_') }}-jdk_standard"
  ]
}


group "java{{ version }}" {
  targets = ["java{{ version }}-jre_distroless", "java{{ version }}-jre_standard", "java{{ version }}-jdk_standard"]
}