
target "_java{{ version }}-common" {
  inherits = ["_common"]
  context  = "./versions/{{ version }}"
  dockerfile = "Dockerfile"
}

{% for f_name, f_spec in flavors.items() %}
target "java{{ version }}-{{ f_name }}" {
  inherits = ["_java{{ version }}-common"]
  target   = "{{ f_name | replace('-', '_') }}"
  tags = [
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ version }}-{{ f_name }}",
    "${GHCR_REGISTRY}/${REPO_GHCR}:{{ full_ver | replace('+', '_') }}-{{ f_name }}"
  ]
}
{% endfor %}