name: Check for Java Updates

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

permissions:
  contents: write 

jobs:
  check-versions:
    runs-on: ubuntu-latest
    outputs:
      needs_update: ${{ steps.check.outputs.changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Fetch Latest Hashes
        id: check
        run: |
          python3 .github/scripts/update_java.py

          if [[ -n $(git status --porcelain) ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT

            git config --global user.name 'SpecterBot'
            git config --global user.email 'bot@specterstack.com'

            git add versions.json
            git commit -m "chore: update java versions"
            git push
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

  trigger-build:
    needs: check-versions
    if: needs.check-versions.outputs.needs_update == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Build Pipeline 
        run: gh workflow run build-images.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
